div.related { background-color: #C8D5E3; }
div.related a { color: #000000; }

.highlight .k {
  color: #000000;
  font-weight: normal;
}

.highlight .s1 { color: #000000; }

.highlight .ow {
  color: #000000;
  font-weight: normal;
}

.highlight .nb { color: #000000; }
.highlight .o { color: #0053b1; }
